<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  {{> head }}
</head>
<body>
  <h1>This is about, yes.</h1>
  <h2><a href="/">Get back home</a></h2>
  <h4>
    Host : {{ headers.Host }}
    TestParam : {{env.TESTPARAMETER}}
  </h4>
</body>
</html>
