<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  {{> head }}
</head>
<body>
  <h1>Hello, this is home</h1>
  <h2><a href="./about">Go to about</a></h2>
  <h4>
    Host : {{ headers.Host }}
  </h4>
</body>
</html>
